@font-face {
  font-family: "Libertinus Math";
  font-style: normal;
  font-weight: 400;
  src: url("/fonts/LibertinusMath/LibertinusMath-Regular.woff2") format("woff2");
}

math {
  font-family: "Libertinus Math";
  font-size-adjust: 0.48;
}

math[display="block"] {
  font-size: 1.0em;
}