/*
palette:

#2f2f2f - text
#369392 - links
#4f86c6 - ??
#4fb0c6 - highlights
#f5f5ff - background
#e9e9f2 - grey background
#d0d0dd - grey border

*/

html {
    background-color: #f5f5ff;
    color: #2f2f2f;
    font-size: 18px;
}

body {
    font-family: "Source Sans Pro", sans-serif;
    margin-bottom: 0;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    width: 90%;
}

a {
    color: #379392
}

figure {
    margin: 0;
    font-style: italic;

    /*display: flex;
    flex-direction: column;
    align-items: center;*/

    border: 1px solid #d0d0dd;
    border-radius: 0.25em;
    padding: 0.75em;
}

figure > img {
    display: block;
    margin: auto;
}

figcaption {
    margin-top: 1em;
}

figcaption > p {
    margin: 0;
}

.image {
    text-decoration: none;
}

img {
    width: 100%;
}

hr {
    border: 0;
    height: 1px;
    background: #d0d0dd;
    margin-top: 1.25em;
    margin-bottom: 1.25em;
}

blockquote {
    overflow: hidden;
    position: relative;
    background-color: #e9e9f2;
    border: 1px solid #d0d0dd;
    border-radius: 0.25em;
    font-style: italic;
    margin-left: 0;
    margin-right: 0;
    text-align: justify;
    hyphens: auto;
}

 blockquote::before {
     content: '';
     position: absolute;
     width: 0.25em;
     height: 100%;
     background-color: #4fb0c6;
 }

blockquote > * {
    margin-left: 1.25em;
    margin-right: 1.25em;
}

blockquote > *:first-child {
    margin-top: 1rem;
}

.centered {
    text-align: center;
}

.large {
    font-size: 3em;
}

h1, h2, h3, h4, h5, p, ul, ol, pre, blockquote, details {
    margin-top: 0;
    margin-bottom: 1rem;
}

ul ul, ul ol, ol ul, ol ol {
    margin-bottom: 0;
}

h1 {
    font-family: "Source Serif Pro", serif;
    font-size: 2.5em;
    font-weight: 300;
    margin: 1em;
    text-align: center;
}

h2 {
    font-size: 1.75em;
    font-family: "Source Serif Pro", serif;
    font-weight: 300;
    margin-top: 2rem;
}

h3 {
    font-size: 1.25em;
}

ul, ol {
    padding: 0;
    margin-left: 1em;
}

li {
    padding: 0;
    margin: 0;
    line-height: 170%;
}

p {
    line-height: 170%;
}

p, li {
    hyphens: auto;
    word-break: break-word;
}

/* Superscripts change line height by default. We need to manually position
them to avoid this.

Source: https://stackoverflow.com/questions/1530685/hoe-can-i-keep-consistent-line-height-with-superscript-elements
*/
p sup {
    vertical-align: top;
    position: relative;
    top: -0.4em;
}

/* This class is generated by Pandoc for footnote backlinks.

Without a margin, the backlink arrow is directly adjacent to the footnote
text. If the footnote text ends in a link, then the backlink arrow looks
like it's part of the link text.
*/
a.footnote-back {
    margin-left: 0.5em;
}

li>p {
    margin-bottom: 0.5em;
    margin-top: 0.5em;
}

.date {
    font-family: "Source Sans Pro", sans-serif;
    font-weight: 400;
    font-style: italic;
}

nav {
    border-bottom: 1px solid #2f2f2f;
    font-family: "Source Serif Pro", serif;
    font-size: 1.5em;
    margin-bottom: 1em;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1em;
    text-align: center;
}

pre {
    background: #e9e9f2;
    border: 1px solid #d0d0dd;
    border-radius: 0.25em;
    padding: 1em;
    overflow: auto;
}

code {
    background: #e9e9f2;
    border: 1px solid #d0d0dd;
    border-radius: 0.166em;
    padding-left: 0.2em;
    padding-right: 0.2em;
    white-space: pre-wrap;
    hyphens: none;
    font-family: "Source Code Pro", monospace;
    line-height: 145%;
}

pre>code {
    padding: 0 0 0 0;
    border: none;
}

details.shell-command {
    margin-bottom: 0;
}

h1>a, h2>a, h3>a, h4>a, h5>a {
    color: #2f2f2f;
    text-decoration: none;
}

h1>a:hover, h2>a:hover, h3>a:hover, h4>a:hover, h5>a:hover {
    color: #379392;
    border-bottom: 1px solid;
}

h1>a[href^="#"]:after, h2>a[href^="#"]:after, h3>a[href^="#"]:after, h4>a[href^="#"]:after, h5>a[href^="#"]:after {
    content: '#';
    color: #c6c6d0;
    margin-left: 0.5rem;
    font-family: "Source Sans Pro", sans-serif;
    font-weight: bold;
}

h1>a[href^="#"]:hover:after, h2>a[href^="#"]:hover:after, h3>a[href^="#"]:hover:after, h4>a[href^="#"]:hover:after, h5>a[href^="#"]:hover:after {
    color: #98c5c5;
}

nav a {
    font-size: 1.25em;
    color: #2f2f2f;
    text-decoration: none;
    display: inline-block;
    padding-bottom: 1em;
}

nav a:hover {
    color: #4f86c6;
}

nav, section {
    max-width: 45rem;
}

section {
    margin-left: auto;
    margin-right: auto;
}

article {
    border-bottom: 1px solid #2f2f2f;
    word-wrap: break-word;
}

footer {
    display: flex;
    justify-content: center;
    padding: 1em;
}

.footer-item {
    margin-left: 0.375em;
    margin-right: 0.375em;
}

.footer-icon {
    vertical-align: middle;
    width: 1em;
    height: 1em;
}

.footer-link-icon {
    text-decoration: none;
}

.footer-link-name {
    display: inline;
}

.intro-wrapper {
    display: flex;
    flex-direction: row;
}

.intro {
    flex-basis: fit-content;
}

#toc {
    background: #e9e9f2;
    padding: 1em;
    margin-left: 1em;
    border: 1px solid #d0d0dd;
    border-radius: 0.25em;
    white-space: nowrap;
}

#toc ul {
    margin: 0 0 0 0.5em;
    text-indent: -0.5em;
    list-style-type: none;
}

#toc li>ul {
    margin-left: 1em;
}

@media (max-width: 800px) {
    p, li {
        margin-left: 0;
        margin-right: 0;
    }

    .intro-wrapper {
        flex-direction: column;
    }
}

@media (max-width: 650px) {
    nav {
        font-size: 1.25em;
    }

    h1 {
        font-size: 2em;
    }

    h2 {
        font-size: 1.5em;
    }

    pre>code {
        white-space: pre;
    }

    body {
        padding: 1em;
    }

    .large {
        font-size: 2em;
    }

    .footer-icon {
        width: 1.25em;
        height: 1.25em;
    }

    .footer-link-name {
        display: none;
    }
}