//	palette:
//	#2f2f2f - text
//	#369392 - links
//	#4f86c6 - ??
//	#4fb0c6 - highlights
//	#ffffff - background
//      #f2f2f2 - grey background
//      #dddddd - grey border


html {
    background-color: #ffffff;
    color: #2f2f2f;
}

body {
    font-family: "Source Sans Pro", sans-serif;
    font-size: 18px;
    margin-bottom: 0;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    width: 90%;
}

a {
    color: #379392
}

.image {
    text-decoration: none;
}

hr {
    border: 0;
    height: 1px;
    background: #dddddd;
    margin-top: 1.25em;
    margin-bottom: 1.25em;
}

blockquote {
    border-left: 0.25em solid #4fb0c6;
    background-color: #f2f2f2;
    padding-top: 0.25em;
    padding-bottom: 0.25em;
    font-style: italic;
}

h1 {
    font-family: "Source Serif Pro", serif;
    font-size: 2.5em;
    font-weight: 300;
    margin: 1em;
    text-align: center;
}

h2 {
	font-size: 1.75em;
	font-family: "Source Serif Pro", serif;
	font-weight: 300;
}

h3 {
    font-size: 1.25em;
}

.centered {
    text-align: center; 
}

.large {
    font-size: 3em; 
}

p, li {
  hyphens: auto;
  word-break: break-word;
}

p {
    margin-bottom: 1em;
    margin-left: 1em;
    margin-right: 1em;
    margin-top: 1em;
    line-height: 1.5em;
}

li > p {
    margin-bottom: 0;
    margin-top: 0;
}

.date {
	font-family: "Source Sans Pro", sans-serif;
	font-weight: 400;
	font-style: italic;
}

nav {
    border-bottom: 1px solid #2f2f2f;
    font-family: "Source Serif Pro", serif;
    font-size: 1.5em;
    margin-bottom: 1em;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1em;
    text-align: center;
    max-width: 50rem;
}

pre {
    background: #f2f2f2;
    border: 1px solid #dddddd;
    border-radius: 0.25em;
    padding: 1em;
}

code {
    background: #f2f2f2;
    border: 1px solid #dddddd;
    border-radius: 0.166em;
    padding-left: 0.2em;
    padding-right: 0.2em;
    white-space: pre-wrap;
    hyphens: none;
    font-family: "Source Code Pro", monospace;
}

li {
    padding-bottom: 0.5em;
}

pre > code {
    padding: 0 0 0 0;
    border: none;
    border-radius: none;
}

.heading {
	color: #2f2f2f;
	text-decoration: none;
}

.heading:hover {
	color: #379392;
	border-bottom: 1px solid ;
}

nav a {
    font-size: 1.25em;
    color: #2f2f2f;
    text-decoration: none;
    display: inline-block;
    padding-bottom: 1em;
}

nav a:hover {
	  color: #4f86c6;
}

section {
	margin-left: auto;
	margin-right: auto;
	max-width: 50rem;
}

article {
	border-bottom: 1px solid #2f2f2f;
	word-wrap: break-word;
}

footer {
	text-align: center;
}

@media (max-width: 800px) {
    p, li, code{
        font-size: 1.25em;
    }

    p, li {
        margin-left: 0;
        margin-right: 0;
    }
}

@media (max-width: 650px) {
	  nav {
		    font-size: 1.25em;
	  }

    h1 {
		    font-size: 2em;
	  }

    h2 {
		    font-size: 1.5em;
	  }

    p, li, code {
        font-size: 1.15em;
    }

    pre {
        overflow: scroll;
    }

    pre > code {
        white-space: pre;
    }

    body {
        padding: 1em;
    }

	  .large {
		    font-size: 2em;
	  }
}
