//	palette:
//	#2f2f2f - text
//	#369392 - links
//	#4f86c6 - ??
//	#4fb0c6 - highlights
//	#ffffff - background


html {
	background-color: #ffffff;
	color: #2f2f2f;
}

body {
	font-family: "Source Sans Pro", sans-serif;
	margin-bottom: 0;
	margin-left: auto;
	margin-right: auto;
	margin-top: 0;
	width: 90%;
}

a {
	color: #379392
}

.image {
    text-decoration: none;
}

blockquote {
	border-left: 2px solid #4fb0c6;
}

h1 {
	font-family: "Source Serif Pro", serif;
	font-size: 2em;
	font-weight: 300;
	margin: 1em;
}

.centered {
    text-align: center; 
}

.large {
    font-size: 3em; 
}

p {
    margin-bottom: 1.5em;
	margin-left: 1em;
	margin-right: 1em;
    margin-top: 1.5em;
}

.date {
	font-family: "Source Sans Pro", sans-serif;
	font-weight: 400;
	font-style: italic;
}

nav {
	border-bottom: 1px solid #2f2f2f;
	font-family: "Source Serif Pro", serif;
	font-size: 1.5em;
	margin-bottom: 1em;
    margin-left: auto;
    margin-right: auto;
	margin-top: 1em;
	text-align: center;
	max-width: 23.33em;
}

code {
    white-space: pre-wrap;
}

.heading {
	color: #2f2f2f;
	text-decoration: none;
}

.heading:hover {
	color: #379392;
	border-bottom: 1px solid ;
}

nav a {
	color: #2f2f2f;
	text-decoration: none;
    display: inline-block;
    padding-bottom: 1em;
}

nav a:hover {
	color: #4f86c6;
}

section {
	margin-left: auto;
	margin-right: auto;
	max-width: 35em;
}

article {
	border-bottom: 1px solid #2f2f2f;
	word-wrap: break-word;
}

footer {
	text-align: center;
}

@media screen and (max-width: 327px) {
	h1 {
		text-align: center;
	}

	nav {
		font-size: 1em;
		font-weight: 400;
	}
}

@media screen and (max-width: 403px) {
	.large {
		font-size: 2em;
	}
}
