//	palette:
//	#2f2f2f - text
//	#369392 - links
//	#4f86c6 - ??
//	#4fb0c6 - highlights
//	#ffffff - background


html {
	background-color: #ffffff;
	color: #2f2f2f;
	font-family: "Source Sans Pro", sans-serif;
}

body {
	margin-bottom: 0;
	margin-left: auto;
	margin-right: auto;
	margin-top: 0;
	width: 90%;
}

a {
	color: #379392
}

blockquote {
	border-left: 2px solid #4fb0c6;
}

h1 {
	font-family: "Source Serif Pro", serif;
	font-size: 2em;
	font-weight: 300;
	margin: 1em;
}

p {
	margin-left: 1em;
	margin-right: 1em;
}

p#date {
	font-family: "Source Sans Pro", sans-serif;
	font-weight: 400;
	font-style: italic;
}

header {
	width: 100%;
}

nav {
	font-family: "Source Serif Pro", serif;
	font-size: 1.5em;
	margin-bottom: 1em;
	margin-top: 1em;
	text-align: center;
	width: 100%;
}

nav a {
	color: #2f2f2f;
	text-decoration: none;
}

nav a:hover {
	color: #379392;
	border-bottom: 1px solid #379392;
}

section {
	width: 100%;
}

article {
	border-top: 1px solid #2f2f2f;
	margin-left: auto;
	margin-right: auto;
	max-width: 35em;
	word-wrap: break-word;
}

footer {
	text-align: center;
}

@media screen and (max-width: 327px) {
	h1 {
		font-size: 2em;
		text-align: center;
	}

	nav {
		font-size: 1em;
		font-weight: 400;
	}
}
