<footer>
    <p>Isaac Elliott 2015 &nbsp; 
        <a class="image" href="http://www.github.com/lightandlight">
            <img style="vertical-align: middle" src="http://github.com/favicon.ico" height="16px"/>
        </a>

        <a href="http://www.github.com/lightandlight">
            GitHub
        </a>

        &nbsp;

        <a class="image" href="mailto:isaace71295@gmail.com"> 
            <img style="vertical-align: middle" src="http://mail.google.com/favicon.ico" />
        </a>

        <a href="mailto:isaace71295@gmail.com"> 
            Gmail
        </a>
    </p>
</footer>
