<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-04K8QC3TXH"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());
    gtag('config', 'G-04K8QC3TXH');
  </script>

  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

  <link rel="stylesheet" href="/res/style.css">
  <link rel="stylesheet" href="/res/syntax.css">

  $if(math)$
  <link rel="stylesheet" href="/res/math.css">
  $endif$

  <link rel="stylesheet"
    href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400italic|Source+Serif+Pro|Source+Code+Pro:400"
    type="text/css">

  $if(chinese)$
  <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+SC&display=swap" rel="stylesheet"> 
  $endif$

  <script src="https://unpkg.com/feather-icons"></script>
  <script src="/res/script.js"></script>

  $if(asciinema)$
  <link type="text/css" href="/res/asciinema-player.css" rel="stylesheet">
  $endif$

  $if(title)$
  <title>$title$ - blog.ielliott.io</title>
  $else$
  <title>blog.ielliott.io</title>
  $endif$

  $metadata$
</head>

<body>
  $partial("templates/header.html")$
  $partial("templates/nav.html")$

  <section>
    $if(math)$
    <script id="mathml-polyfill-script" src="/res/mathml-polyfill.js"></script>
    $endif$

    $body$
  </section>
  $partial("templates/footer.html")$

  <script>feather.replace()</script>

  $if(asciinema)$
  <script src="/res/asciinema-player.min.js"></script>
  <script>
    const casts = document.getElementsByTagName("x-asciinema-cast");
    for (cast of casts) {
      AsciinemaPlayer.create(cast.dataset.src, cast, {
        speed: cast.dataset.speed,
        idleTimeLimit: cast.dataset.idleTimeLimit
      });
    }
  </script>
  $endif$
</body>

</html>