<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="/res/stylesheet.css">
		<link rel="stylesheet" href="/res/syntax.css">
		<link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400italic|Source+Serif+Pro" type="text/css">
		<title> {{ page.title }} </title>
	</head>
	
	<body>
		<header></header>
		<nav>
			<a href="/">Home</a>
			&nbsp;
			&nbsp;
			<a href="/about.html">About</a>
			&nbsp;
			&nbsp;
			<a href="/blog.html">Blog</a>
		</nav>

		<section><article> {{ content }} </article></section>
		<footer><p>Isaac Elliott 2015</p></footer>
	</body>
</html>
