<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<!-- Global site tag (gtag.js) - Google Analytics -->
		<script async src="https://www.googletagmanager.com/gtag/js?id=UA-59107737-1"></script>
		<script>
  		  window.dataLayer = window.dataLayer || [];
  		  function gtag(){dataLayer.push(arguments);}
  		  gtag('js', new Date());
  		  gtag('config', 'UA-59107737-1');
		</script>

		<meta name="viewport" content="width=device-width, initial-scale=1">

		<link rel="stylesheet" href="/res/stylesheet.css">
		<link rel="stylesheet" href="/res/syntax.css">
		<link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400italic|Source+Serif+Pro|Source+Code+Pro:400" type="text/css">

    <script src="https://unpkg.com/feather-icons"></script>
    <script src="/res/script.js"></script>

    {% if page.title %}
		    <title> {{ page.title }} - ielliott.io </title>
    {% else %}
        <title>ielliott.io</title>
    {% endif %}

    {% seo %}
	</head>
	<body>
      {%include header.html %}
	    {% include nav.html %}	
	    <section> {{ content }} </section>
      {% include footer.html %}
      <script>feather.replace()</script>
	</body>
</html>
