---
layout: page
---

<article>
    <h1>{{ page.title }}</h1>

    <p class="date">{{ page.date | date_to_long_string }}</p>

    {{ content }}

    <footer>
        <p>
        {% if page.previous %}
            <a href="{{ page.previous.url }}">{{ page.previous.title }} - Previous</a>
        {% else %}
            <span>Oldest</span>
        {% endif %}
        |
        {% if page.next %}<a href="{{ page.next.url }}">Next - {{ page.next.title  }}</a>
        {% else %}
            <span>Newest</span>
        {% endif %}
        
        <br><br>

        {% include tags-list.html tags=page.tags%}

        </p>
    </footer>
</article>
